* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centraliza-secao {
    width: 1024px;
    text-align: center;
    margin: 0px auto 0px auto;
}

.topo {
    background-color: #604829;
    height: 50px;
    width: 100%;
    top: 0;
    position: fixed;
}

.alinhamento {
    width: 1024px;
    margin: 2px auto 2px auto;
    position: relative;
}

.topo img {
    width: 45px;
}

.alinhamento span {
    height: 45px;
    width: 300px;
    position: absolute;
    top: 10px;
    right: 10%;
    text-align: center;
}

.topo a {
    text-decoration: none;
    color: #c4a47c;
    font-family: 'Oswald', sans-serif;
    padding: 5px;
}

.banner1 {
    background-image: url('./assets/parallax-imagem1.png');
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}

.banner1 h1 {
    font-family: 'Fraunces', sans-serif;
    font-size: 50px;
    color: #fff;
    width: 1024px;
    line-height: 200px;
    text-align: center;
    margin: 0px auto;
    padding: 400px 0px;
    font-weight: lighter;
}

.informacoes {
    width: 100%;
}

.informacoes-texto {
    padding-top: 60px;
    width: 1024px;
    margin: 0 auto;
    height: 500px;
}

.informacoes-texto h2{
    color: #c4a47c;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding-top: 20px;
}

.informacoes-texto p {
    line-height: 45px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    padding-top: 60px;
    padding-bottom: 60px;
}

.informacoes-banner {
    margin-top: 40px;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
    background-attachment: fixed;
}

.informacoes-banner h3 {
    background-color: #604829;
    padding: 10px 20px;
    color: #fff;
    width: 350px;
    margin: 0px auto;
    font-family: 'Fraunces', sans-serif;
    font-weight: lighter;
    position: absolute;
    top: 45%;
    left: 39%;
    font-style: italic;
}

.banner2 {
    background-image: url('./assets/parallax-imagem2.jpg');
}

.banner3 {
    background-image: url('./assets/parallax-imagem3.jpg');
}

.contatos {
    background-image: url('./assets/parallax-imagem4.png');
    width: 100%;
    height: 950px;
    padding-top: 50px;
    background-attachment: fixed;
    background-position: center;
}

.contatos h2 {
    background-color: #604829;
    padding: 5px 5px;
    color: #fff;
    width: 400px;
    margin: 50px auto 100px auto;
    font-family: 'Oswald', sans-serif;
}

.box-contatos {
    background-color: #604829;
    padding: 20px 40px;
    color: #fff;
    width: 500px;
    margin: 80px auto;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.horarios {
    background-image: url('./assets/cafeteria.jpg');
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
}

.horarios h2 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    padding-top: 70px;
    font-weight: lighter;
}

.lista {
    padding-top: 50px;
}

.lista li {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    width: 1024px;
    top: 0;
    right: 0;
    font-weight: lighter;
    margin: 10px auto;
    text-align: left;
    position: relative;
}

.lista li p, .lista li span {
    position: absolute;
    top: 0;
    right: 0;
}

.lista li div {
    width: 70%;
    height: 1px;
    background-color: #acacac;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 50%;
}

.lista li span {
    color: #c4a47c
}

.rodape {
    background-color: black;
    width: 100%;
    color: #fff;
    height: 90px;
    position: relative;
}

.rodape p {
    margin: 0px auto;
    padding-top: 15px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.rodape span {
    color: #c4a47c;
    font-family: 'Lato', sans-serif;
}

.rodape img {
    position: absolute;
    top: -30px;
    right: 20px;
}